<section id="container">
  <%= render 'layouts/admin_sidebar' %>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> WorkSpaces</h3>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i>WorkSpace list</h4>
            <div style="margin: 0 10px 10px 0;text-align: right;">
              <%= link_to "New", new_admin_workspace_path, class:"btn btn-outline-secondary btn-sm"%>
            </div>
            <section id="unseen">
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="numeric">Name</th>
                    <th class="numeric" colspan="2">Manage</th>
                  </tr>
                </thead>
                <tbody>
                  <% @workspaces.each do |workspace| %>
                  <tr>
                    <td><%= link_to workspace.id, admin_workspace_path(workspace) %></td>
                    <td><%= workspace.name %></td>
                    <td class="numeric">
                      <%= link_to "Edit", edit_admin_workspace_path(workspace) %>
                    </td>
                    <td class="numeric">
                      <%= link_to "Delete", admin_workspace_path(workspace), method: :delete , data: { confirm: "You sure?" }%>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </section>
          </div>
          <!-- /content-panel -->
        </div>
        <!-- /col-lg-4 -->
      </div>
      <!-- /row -->
    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
</section><!--/container-->