<section>
  <div class="login-container show">
    <div class="card-panel" style="">
      <h1></h1>
      <p>Admin Login</p>
      <div class="row">
        <%= form_with scope: :session, url: admin_login_path, local: true , class: "col s12" do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :login_id, class: "validate" %>
              <%= f.label :login_id, 'Account ID' %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password, class: "validate" %>
              <%= f.label :password, 'Password' %>
            </div>
          </div>
          <%= f.submit "submit", class:"login_btn waves-effect waves-light btn-small cyan lighten-2" %>
        <% end %>
      </div>
    </div>
  </div>
<section>