<section>
  <div class="login-container">
    <div class="card-panel">
      <h1></h1>
      <p>Create Account</p>
      <div class="row">
        <%= form_with model: @user, url: 'signup', local: true , class: "col s12" do |f| %>
          <%= render 'shared/error_messages' %>
        <%# <%= form_with model: trial, local: true do |f| %>
        <!--<form class="col s12">-->
          <div class="row">
            <div class="input-field col s12">
              <%# <input id="name" type="text" class="validate"> %>
              <%# <label for="name">Account Name</label> %>

              <%= f.text_field :name , class: "validate" %>
              <%= f.label :name, 'Account Name' %>
              
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%# <input id="email" type="email" class="validate"> %>
              <%# <label for="email">Email</label> %>

              <%= f.email_field :email, class: "validate" %>
              <%= f.label :email, 'Email' %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%# <input id="password" type="password" class="validate">
              <label for="password">Password</label> %>
              <%= f.password_field :password, class: "validate" %>
              <%= f.label :password, 'Password' %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%# <input id="password_confirm" type="password" class="validate">
              <label for="password_confirm">Confirm Password</label> %>
              <%= f.password_field :password_confirm, class: "validate" %>
              <%= f.label :password_confirm, 'Confirm Password' %>
            </div>
          </div>
          <%# <input type="submit" value="submit" class="login_btn waves-effect waves-light btn-small cyan lighten-2"> %>
          <%= f.submit "submit", class:"login_btn waves-effect waves-light btn-small cyan lighten-2" %>
        <!--</form>-->
        <% end %>
      </div>
    </div>
  </div>
<section>