<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th><%= f.label :project_id, 'Project' %></th>
    <td>
      <% if params[:project_id] %>
        <%= f.select :project_id, Project.all.map{|pj| [ "#{pj.id}: #{pj.name}", pj.id]}, {selected: params[:project_id], include_blank: ''}, { class: "form-select" }  %>
      <% else %>
        <%= f.select :project_id, Project.all.map{|pj| [ "#{pj.id}: #{pj.name}", pj.id]}, {include_blank: ''}, { class: "form-select" }  %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :name, 'Name' %></th>
    <td><%= f.text_field :name, required: true, class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :description, 'Description' %></th>
    <td><%= f.text_area :description,  class: 'form-control' %></td>
  </div>
  <tr>
    <th>Member</th>
    <td>
      <label>Search for group members</label>
      <input id="member_search" class="search-box form-control" type="text" placeholder="Name or Mail" onkeydown="return event.keyCode != 13;">
      <ul class="search_result"></ul>
      <table class="member-list table" data-type="board">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mail</th>
            <th>Authority</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <% if members && !members.empty? %>
            <% members.each do |member_info_pj| %>
              <tr class="member-list__sel-user">
                <input class="user_ids" name="board[user_ids][]" type="hidden" value="<%=member_info_pj.user_id%>" >
                <td class="member-list__sel-user__name"><%= member_info_pj.user.name %></td>
                <td class="member-list__sel-user__email"><%= member_info_pj.user.email %></td>
                <td class="member-list__sel-user__authority">
                  <%= select_tag "board_member[roles][]", options_for_select(ProjectMember.roles, selected: member_info_pj.role_before_type_cast), {class: 'form-select', require: true} %>  
                </td>
                <td><span class="remove-member" data-user_id="<%= member_info_pj.user_id %>">削除</span></td>
              </tr>
            <% end %>
          <% else %>
          <tr class="nomembers">
            <td colspan="4">No Members</td>
          <tr>
          <% end %>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <th>States / Tasks</th>
    <td>
      <% if @states %>
        <table class="table">
          <thead>
            <tr>
              <th style="position: relative;width: 50%;">
                <p style="margin: 0;">States</p>
                <%= link_to new_admin_board_state_path(@board, @state), class:"add-state" do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              </th>
              <th style="position: relative">
                <p style="margin: 0;">Tasks</p>
                <%= link_to new_admin_board_task_path(@board, @task), class:"add-task" do %>
                  <i class="fas fa-plus"></i>
                <% end %>
               </th>
            </tr>
          </thead>
          <tbody class="state-sortable">
            <% @states.each do |state| %>
              <tr class="admin_state_ids_list">
                <input class="state_ids" name="board[state_ids][]" type="hidden" value="<%=state.id%>" >
                <td class="" style="position:relative;">
                  <div>
                    <span class="glip" style="cursor: grab; padding: 5px; margin-right: 10px;"><i style="color: grey;" class="fas fa-grip-vertical"></i></span>
                    <%= link_to state.name, edit_admin_state_path(state) %>
                  </div>
                  <span class="remove-state" data-state_id="<%= state.id %>" style="cursor: pointer ; padding: 5px; float: right;"><i class="fas fa-times"></i></span>
                </td>
                <td class="">
                  
                  <ul class="admin-task-list task-sortable" style="margin:0;padding: 0;">
                    <% if state.tasks %>
                      <% state.tasks.order("tasks.sort").each do |task| %>
                        <li>
                          <input class="task_ids" name="board[task_ids][<%=state.id%>][]" type="hidden" value="<%=task.id%>" >
                          <div>
                            <span class="glip2" style="cursor: grab; padding: 5px; margin-right: 10px;"><i style="color: grey;" class="fas fa-grip-vertical"></i></span>
                            <%= link_to task.title, admin_task_path(task) %>
                          </div>
                          <span class="remove-task" data-task_id="<%= task.id %>" style="cursor: pointer ; padding: 5px; float: right;"><i class="fas fa-times"></i></span>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                  

                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        -
      <% end %>
    </td>
  </tr>
</table>
<div style="text-align: center;">
  <%= f.submit mode_text, class: "submit_project btn btn-outline-primary" %>
</div>
