<section id="container">
  <%= render 'layouts/admin_sidebar' %>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><a href="/admin/boards" ><i class="fa fa-angle-right"></i> Boards</a></h3>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i>Board Infomation</h4>
            <div style="margin: 0 10px 10px 0;text-align: right;">
              <%= link_to "Edit", edit_admin_board_path(@board), class:"btn btn-outline-secondary btn-sm"%>
            </div>
            <section id="unseen">
              <table class="table table-bordered table-striped table-condensed">
                <tr>
                  <th>Workspace ID</th>
                  <td>
                    <% if @board.project.workspace %>
                      <%= link_to @board.project.workspace.id, admin_workspace_path(@board.project.workspace) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Project ID</th>
                  <td><%= link_to @board.project.id, admin_project_path(@board.project) %></td>
                </tr>
                <tr>
                  <th>Board ID</th>
                  <td><%= @board.id%></td>
                </tr>
                <tr>
                  <th>Board name</th>
                  <td><%= @board.name%></td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>
                    <%= @board.description%>
                  </td>
                </tr>
                <tr>
                  <th>Member</th>
                  <td>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Authority</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @board.board_members.each do |member_info_pj| %>
                          <tr class="member-list__sel-user">
                            <td class="member-list__sel-user__name"><%= link_to member_info_pj.user.name, admin_user_path(member_info_pj.user) %></td>
                            <td class="member-list__sel-user__email"><%= member_info_pj.user.email %></td>
                            <td class="member-list__sel-user__authority"><%= member_info_pj.role %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <th>States / Tasks</th>
                  <td>
                    <% if @states %>
                      <table class="table">
                        <thead>
                          <tr>
                            <th style="position: relative;width: 50%;">
                              <p style="margin: 0;">States</p>
                              <%= link_to new_admin_board_state_path(@board, @state), class:"add-state" do %>
                                <i class="fas fa-plus"></i>
                              <% end %>
                            </th>
                            <th style="position: relative">
                              <p style="margin: 0;">Tasks</p>
                              <%= link_to new_admin_board_task_path(@board, @task), class:"add-task" do %>
                                <i class="fas fa-plus"></i>
                              <% end %>
                             </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @states.each do |state| %>
                            <tr class="">
                              <td class=""><%= link_to state.name, admin_state_path(state) %></td>
                              <td >
                                <% if state.tasks %>
                                  <ul class="task-list" style="margin:0;padding: 0;">
                                    <% state.tasks.order("tasks.sort").each do |task| %>
                                      <li><%= link_to task.title, admin_task_path(task) %></li>
                                    <% end %>
                                  </ul>
                                <% else %>
                                  -
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
              </table>
            </section>
          </div>
          <!-- /content-panel -->
        </div>
        <!-- /col-lg-4 -->
      </div>
      <!-- /row -->
    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
</section><!--/container-->