<section id="container">
  <%= render 'layouts/admin_sidebar' %>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i><%= link_to "Projects", admin_projects_path%></h3>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i>Create Project</h4>
            <section id="unseen">
              <%= form_with model: @project, local: true, url: admin_projects_path do |f| %>
                <%= render 'shared/error_project_messages' %>
                <%= render partial: "form", locals: { project: @project, members: @members, f: f, mode_text: 'CREATE'} %>
              <% end %>
            </section>
          </div>
          <!-- /content-panel -->
        </div>
        <!-- /col-lg-4 -->
      </div>
      <!-- /row -->
    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
</section><!--/container-->