<section id="container">
  <%= render 'layouts/admin_sidebar' %>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><a href="/admin/projects" ><i class="fa fa-angle-right"></i> Projects</a></h3>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i>Project Infomation</h4>
            <div style="margin: 0 10px 10px 0;text-align: right;">
              <%= link_to "Edit", edit_admin_project_path(@project), class:"btn btn-outline-secondary btn-sm"%>
            </div>
            <section id="unseen">
              <table class="table table-bordered table-striped table-condensed">
                 <tr>
                  <th>Workspace ID</th>
                  <td>
                    <% if @project.workspace %>
                      <%= link_to @project.workspace.id, admin_workspace_path(@project.workspace) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Project ID</th>
                  <td><%= @project.id%></td>
                </tr>
                <tr>
                  <th>project name</th>
                  <td><%= @project.name%></td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>
                    <%= @project.description%>
                  </td>
                </tr>
                <tr>
                  <th>Member</th>
                  <td>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Authority</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @project.project_members.each do |member_info_pj| %>
                          <tr class="member-list__sel-user">
                            <td class="member-list__sel-user__name"><%= link_to member_info_pj.user.name, admin_user_path(member_info_pj.user) %></td>
                            <td class="member-list__sel-user__email"><%= member_info_pj.user.email %></td>
                            <td class="member-list__sel-user__authority"><%= member_info_pj.role %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <th>Board</th>
                  <td>
                    <% if !@project.boards.empty? %>
                      <ul style="padding-left: 0;">
                        <% @project.boards.each do |board| %>
                          <li> - <%=link_to "#{board.name} (owner: #{@board_owners[board.id].name})", admin_board_path(board)%></li> 
                        <% end %>
                      </ul>
                    <% else %>
                      -
                    <% end %>
                    <div style="margin: 0 10px 10px 0;text-align: right;">
                      <%= link_to "Add Board", new_admin_project_board_path(@project), class:"btn btn-outline-secondary btn-sm"%>
                    </div>
                  </td>
                </tr>
              </table>
            </section>
          </div>
          <!-- /content-panel -->
        </div>
        <!-- /col-lg-4 -->
      </div>
      <!-- /row -->
    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
</section><!--/container-->