<section id="container">
  <%= render 'layouts/admin_sidebar' %>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><a href="/admin/users"><i class="fa fa-angle-right"></i>Users</a></h3>
      <div class="row mt">
        <div class="col-lg-12">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i>User Profile New</h4>
            <section id="unseen">
              <%= form_with model: @user, local: true, url: admin_users_path  do |f| %>
                <%= render 'shared/error_messages' %>
                <%= render partial: "form", locals: { user: @user, f: f} %>
                
                <div style="text-align: center;">
                  <%= f.submit "Create", class: "btn btn-outline-primary" %>
                </div>
              <% end %>
            </section>
          </div>
          <!-- /content-panel -->
        </div>
        <!-- /col-lg-4 -->
      </div>
      <!-- /row -->
    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
</section><!--/container-->