<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag 'login', media: 'all'%>
    <%= javascript_pack_tag 'login' %>
    <%= stylesheet_link_tag 'login', media: 'all' %>
  </head>
  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%# <%= debug(params) if Rails.env.development? %>
  </body>
</html>