<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag 'login', media: 'all'%>
    <%= javascript_pack_tag 'login' %>
    <%= stylesheet_link_tag 'login', media: 'all' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>